/* TEXT */
@mixin text(
  $color,
  $font-family,
  $font-size,
  $line-height,
  $font-weight,
  $text-transform
) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  text-transform: $text-transform;
}
/*
  @include text ($color, $font-family, $font-size, $line-height, $font-weight, $text-transform);
  @include text ($graydarker, $bodyfont, 1rem, 1, 500, none);
  @include text ($graydarker, $bodyfont, 1rem, 1, 500, uppercase);
  */